.header {
	min-height: 5rem;
	border-bottom: 1px solid $color-secondary;
	
	.toolbar {
		display: flex;
		justify-content: space-between;
		margin-inline: 10rem;
		height: inherit;
		
		@include respond(tab-port) {
			//width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-block: 2rem;
		}
		
		&-start {
			display: flex;
			height: inherit;
			
			@include respond(tab-port) {
				//width: 100%;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			
			.app-title {
				display: flex;
				align-items: center;
				justify-content: center;
				
				font-size: 2.2rem;
				color: $color-black-light;
				font-weight: 800;
			}
			
			.city-selection {
				height: inherit;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $color-black-light;
				margin-inline: 5rem;
				
				.selector-title {
					font-size: 1.6rem;
					font-weight: 600;
				}
				
				.selector-input {
					min-height: 3rem;
					background-color: transparent;
					border: none;
					font-weight: 600;
					font-size: 1.8rem;
					margin-inline: 2rem;
					height: inherit;
					padding-inline: 1rem;
					outline: transparent;
					
					option {
						padding-block: 1rem;
						padding-inline: 1rem;
						background-color: $color-background;
						font-weight: 600;
						font-size: 1.8rem;
						color: $color-black-light
					}
				}
			}
		}
	}
	
}

.main {
	min-height: 75vh;
	
	.weather {
		display: flex;
		flex-direction: column;
		
		max-width: 120rem;
		min-height: 60rem;
		background-color: #f0f0f0;
		margin-block: 6rem;
		margin-inline: auto;
		box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
		
		@include respond(tab-port) {
			
			margin-top: 0;
		}
		
		.weather-header {
			display: flex;
			background-color: $color-secondary;
			height: 5rem;
			justify-content: space-between;
			padding-inline: 5rem;
			
			@include respond(tab-port) {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 8rem;
			}
			
			.weather-city {
				display: flex;
				align-items: center;
				
				
				&__name {
					color: #E6E2DD;
					font-size: 2.2rem;
					font-weight: 800;
					
				}
				
				&__region {
					margin-left: 1rem;
					font-size: 1.6rem;
					font-weight: 600;
				}
				
			}
			.forecast-times {
				display: flex;
				font-size: 1.6rem;
				font-weight: 600;
				color: $color-white;
				
				.forecast-time{
					display: flex;
					min-width: 14rem;
					justify-content: space-between;
					margin-inline: 1rem;
					
					
					.time__name {
						display: flex;
						align-items: center;
						
					}
					
					.time__value {
						display: flex;
						align-items: center;
					
					}
				}
			}
		}
		
		
		.weather-forecast {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-content: stretch;
			margin-block: auto;
			
			@include respond(tab-port) {
				flex-direction: column;
			}
			
			.forecast {
				height: 100%;
				width: calc(120rem / 5 - 4rem);
				box-shadow: 0 0 3rem rgba(0, 0, 0, .1);
				min-height: 42rem;
				font-size: 1.6rem;
				display: flex;
				flex-direction: column;
				
				@include respond(tab-land) {
					width: calc(120rem / 5 - 6rem);
				}
				
				@include respond(tab-port) {
					width: 100%;
					min-height: 15rem;
				}
				
				.day-header {
					display: flex;
					flex-direction: column;
					
					&__title {
						font-size: 1.8rem;
						font-weight: 700;
						color: $color-secondary;
						text-align: center;
						padding-block: .8rem;
						letter-spacing: .1rem;
					}
					
					&__icon {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						min-height: 15rem;
						
						img {
							max-width: 10rem;
						}
						
						.state-title {
							margin-top: 1rem;
							font-weight: 600;
							color: lighten($color-black-light, 20);
						}
						
					}
				}
				
				.day-data {
					display: flex;
					flex-direction: column;
					padding-inline: 1.5rem;
					margin-top: 1rem;
					
					@include respond(tab-port) {
						padding-inline: 15rem;
						margin-bottom: 5rem;
					}
					
					@include respond(phone) {
						padding-inline: 10rem;
					}
					
					.data-row {
						display: flex;
						justify-content: space-between;
						
						&__name {
							font-weight: 600;
							color: $color-black-light;
						}
					}
				}
			}
			
		}
		
	}
}

.footer {
	border-top: 1px solid $color-secondary;
	height: 5rem;
}
